---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";
  
  .site-header, footer {
    background-color: rgb(10, 201, 201);
  }
  .site-header{
    font-variant: small-caps;
  }


  #catphoto {
    outline: groove black;
    height: 50%;
    width: 50%;
  }
